<div class="container">
    <div class="row">
    <div class="col">
        <div class="div">
             <p class="lead">
                Capture the moments in your life and store them safely to retrieve them later.
           </p> <br>
           <p class="le">
            Already a user <a href="/logIn"><button type="button" class="btn btn-outline-success">Log In</button></a>  
           </p>
           
        </div>
    </div>
    <div class="col">
      <img src="/images/File Transfer (Indian Attire).png" class="img-thumbnail" alt="...">
    </div>
  </div>
</div>

