<div class="container">
    <div class="input-group">
    <span class="input-group-text">Password and email</span>
    <input type="password" aria-label="First name" class="form-control">
    <input type="email" aria-label="Last name" class="form-control">
    </div> <br>
    <button type="button" class="btn btn-outline-info">Log In</button> <br>
    <br>

    <!------upload form--->
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Folder Name</label>
    <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Give your project a name</div>
  </div>
    <div class="mb-3">
    <label for="formFile" class="form-label">Choose image / images</label>
    <input class="form-control" type="file" id="formFile" accept="image/*">
    </div>
     <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Description</label>
    <input type="text" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Give your project a description</div>
  </div>
  <button type="button" class="btn btn-success">Submit</button>
</div>