<div class="container">

    <h3 style="text-align: center;">Signup Form</h3> <br>

    <p class="lead">
        Sign up as user to upload your images without limitations.
    </p>

    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="mb-3">
  <label for="formFile" class="form-label">Profile picture</label>
  <input class="form-control" type="file" id="formFile">
</div>

<div class="form-floating">
  <input type="text" class="form-control" id="floatingPassword" placeholder="I am a photographer">
  <label for="floatingPassword">Tell us about yourself</label>
</div> <br> <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button">Submit</button>
  <a href="/logIn"><button type="button" class="btn btn-outline-success">Log In</button></a>
  
</div>
</div>

